@use 'utils' as *;

.container {
  @include gap(60px, right);
  display: flex;
  margin-bottom: 100px;

  > div {
    flex: 1;
    max-width: 50%;
  }
}

.wrapper {
  padding-bottom: 100%;
  background: url(../../assets/testnet-frame.svg) center/cover no-repeat;
  position: relative;
}

.nft {
  @include gap(24px);
  @include absoluteCenter;
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

.text {
  font-size: 18px;
  line-height: 25px;
}

.button {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  background-color: #35ffd0;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    background-color: #29c6a1;
  }
}

.name {
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
}

.collection {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

.description {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: rgba(#000000, 0.4);
  white-space: pre-line;
}

.backButton {
  @include gap(11px, right);
  padding: 17px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 2px;
  transition: all 0.3s;
  align-self: flex-start;

  &:hover {
    opacity: 0.5;
  }
}
